html{font-family:sans-serif;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type='button'],input[type='reset'],input[type='submit']{cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0;}input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto;}input[type='search']{-moz-box-sizing:content-box;box-sizing:content-box;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@media screen and (min-width: 500px) {
	#appbody {
		width: 500px;
		margin:0 auto;
	}
}

.todo-inputs button, .todo-inputs input {
	height: 30px;
}

.todo-inputs input {
	width: 80%;
}

.todo-inputs button {
	width: 20%;
}

.todo-list {
	font-weight: 600;
	margin: 1px;
	list-style: none;
	padding: 0;
}

.todo-list li {
	margin-top:1px;
	min-height: 60px;
	padding: 30px;
	background: #2196F3;
	color: rgb(255, 255, 255);
	padding-left: 12px;
	position: relative;
}

.todo-list li:nth-last-child(1) {
	margin-bottom: 32px;
}

.todo-list li>button {
	float: right;
	position: absolute;
	right: 0;
	top:0;
	color: black;
	height:100%;
	z-index: 1;
}


.todo-list li>div {
	width:90%;
	word-wrap: wrap;
	word-break: break-all;
}

.status-bar {
	position: fixed;
	bottom: 0;
	left:0 ;
	width: 100%;
	padding: 10px;
	font-family: tahoma;
	background: #3F51B5;
	color: white;
	z-index: 3;

}